@model WebApp.ViewModels.VMLocation

@{
    ViewData["Title"] = "Update Location";
}

<h1>Update Location</h1>

@using (Html.BeginForm("Update", "Location", FormMethod.Post))
{
    @Html.Hidden("OriginalName", Model.Name)

    <div class="form-group">
        @Html.LabelFor(m => m.Name)
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Name)
    </div>

    <button type="submit" class="btn btn-primary mt-2">Update</button>
    <a asp-action="Index" class="btn btn-danger mt-2">X</a>
}
